{% extends 'secureapp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<body>
    <title>secureX | Register </title>

    <br>
    <div class="container bg-white shadow-md p-5 form-layout">

        <h3>create your account </h3>
        <h5>Secure your account today </h5>

        <br> </br>

        <form method="POST" autocomplete="off">
            {%  csrf_token %}

            {{form.username|as_crispy_field}}

            <br> </br>

            {{form.email|as_crispy_field}}

            <br> </br>

            {{form.password1|as_crispy_field}}

            <br> </br>

            {{form.password2|as_crispy_field}}

            <br> </br>

            {{form.captcha}}

            <br> </br>

            <button type="submit" class="btn btn-info btn-log w-100 btn-block p-3"> Create your account </button>

        
        </form>

        <br> </br>

         <div class="text-center">

            <P>Already have an account ? </P> <a href="{% url '' %}"> Login </a>

        </div>

    </div>    
    
    


</body>
{% endblock %}
